{% extends 'base/base.twig' %}

{% block content %}

{% for item in post.get_field('page_header') %}
  {% set index = loop.index %}
  {% include 'pages/blocks/' ~ item.acf_fc_layout ~ '.twig' %}
{% endfor %}

  <section class="section__events">
    <div class="inner-contianer">
      <div class="column mobile-col-1-1 tablet-col-3-4__centered">
        {% for event in events %}
          <div class="event-container">
            <div class="event-date">
              <span class="date">{{event.get_field('event_start_date') | date('d')}}</span>
              <span class="month">{{event.get_field('event_start_date') | date('M')}}</span>
            </div>
            <div class="event-info">
              <h3>{{event.title}}</h3>
              <p>{{ event.content|length > 150 ? event.content|stripHtmlTags|slice(0, 150) ~ '...' : event.content|stripHtmlTags  }}</p>
              <a href="{{event.get_field('event_link')}}" target="_blank">Learn more</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock content %}