<section class="section__call-to-action">
	<div class="inner-container">
		<div class="row">
			<div class="desktop-col-7-8__centered">
				<div class="row__flex row__flex-align-items-center">
					<div class="tablet-col-2-12">
						<img src="{{item.cta_icon.url}}" alt="{{item.cta_icon.alt}}" {{ (item.cta_icon.mime_type == 'image/svg+xml') ? 'style="width: 100%;"' : '' }}>
					</div>
					<div class="tablet-col-1-2">
						{{item.cta_text}}
					</div>
					<div class="tablet-col-1-3">
						{% for button in item.cta_buttons %}
							{% set destination = button.cta_button_destination %}
							{% set target = 'same' %}
							{% if destination == 'internal' %}
								{% set link = button.button_internal_link %}
							{% else %}
								{% set target = button.link_target %}
								{% set link = button.button_external_link %}
							{% endif %}

							<a href="{{link}}" class="btn btn-primary" {{ (target == 'new') ? 'target="_blank"' : '' }}>{{button.cta_button_title}}</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>